
<mz-sidenav
  [backgroundClass]="'grey darken-4'"
  [id]="'sidenav-demo'"
  [fixed]="true">
  <mz-sidenav-header>
    <div class="header center">
      <img src="/assets/shield.png" alt="shield_snk">
      <a class="white-text" routerLink="/">Shingeki no kiojin</a>
    </div>
  </mz-sidenav-header>
  <mz-sidenav-link>
    <a routerLink="/" class="white-text waves-effect">Inicio</a>
  </mz-sidenav-link>
  <mz-sidenav-link>
    <a routerLink="/anime" class="white-text waves-effect">Anime</a>
  </mz-sidenav-link>
  <mz-sidenav-link>
    <a routerLink="/manga" class="white-text waves-effect">Manga</a>
  </mz-sidenav-link>
  <mz-sidenav-link>
    <a routerLink="/music" class="white-text waves-effect">Musica</a>
  </mz-sidenav-link>
  <mz-sidenav-link>
    <a routerLink="/wallpapers" class="white-text waves-effect">Wallpapers</a>
  </mz-sidenav-link>
  <div class="button-about center-align">
    <a mz-button class="red darken-4">Acerca de</a>
  </div>
</mz-sidenav>
