<h2>Inicio</h2>
<div class="row">
  <div class="col s12">
    <h5>Último capitulo</h5>
    <a href="#">
      <div class="card horizontal">
        <div class="card-image">
          <img src="/assets/last.jpg" alt="">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h4 class="black-text center">Capitulo 7</h4>
            <h5 class="black-text center">"Lorem ipsum dolor sit amet, consectetur"</h5>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
<div class="row">
  <div class="col s12 m6">
    <h5>Siguiente capitulo</h5>
    <div class="card-panel">
      <div id="clockdiv">
        <div class="col s3"><span class="days"></span><div class="smalltext">Dias</div></div>
        <div class="col s3"><span class="hours"></span><div class="smalltext">Horas</div></div>
        <div class="col s3"><span class="minutes"></span><div class="smalltext">Minutos</div></div>
        <div class="col s3"><span class="seconds"></span><div class="smalltext">Segundos</div></div>
      </div>
    </div>
  </div>
  <div class="col s6 ver-mas">
    <h5>Ver más</h5>
    <a class="btn black white-text"routerLink="/anime">Anime</a>
    <a class="btn black white-text"routerLink="/manga">Manga</a>
    <a class="btn black white-text"routerLink="/wallapapers">Wallpapers</a>
    <a class="btn black white-text"routerLink="/music">Musica</a>
  </div>
  <div class="col s6">
    <h5>Páginas oficiales</h5>
      <a href="#" class="waves-effect waves-light btn-large white-text">SNK Anime</a>
      <a href="#" class="waves-effect waves-light btn-large white-text">SNK Manga</a>
  </div>
</div>
